<div class="container">
    {{#each articlesArray}}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{{link}}">
                        {{title}}
                    </a>
                </h5>
                <p class="card-text">{{summary}}</p>
            </div>
        </div>
        <h1></h1>
    {{/each}}
</div>