.navbar {
  background-color: #2a2a00;
  color: white;
}

.navbar a {
  color: white;
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 5px;
}

.navbar a:hover {
  text-shadow: white 0 0 5px;
}
.jumbotron {
  background: url('/assets/images/jumbotron-bg.jpg') no-repeat center center;
  background-size: cover;
  height: 400px;
  padding: 0;

}

.jumbotron h1 {
  font-size: 100px;
  background-color: rgba(227, 231, 232, 0.70);
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.getArticlesBtn {
  color: #2a2a00;
  background-color: rgba(227, 231, 232, 0.70);
  border: 1px solid #2a2a00;
  border-radius: 5px;
}

.whiteTextShadow {
  text-shadow: white 5px 5px 20px, white 5px 5px 20px, white -5px -5px 20px, white -5px -5px 20px, white 5px 5px 20px, white 5px 5px 20px, white -5px -5px 20px, white -5px -5px 20px;
}

.card a {
  color: #2a2a00;
}


/* COMMENTS PAGE */
.commentsBtn {
  color: #2a2a00;
  border: 1px solid #2a2a00;
  border-radius: 5px;
}

.commentsContainer {
  min-height: 95vh;
  padding-top: 20px;
  color: rgba(17,17,17,0.85);
}

.commentsHeading {
  margin-bottom: 20px;
}

/*.commentsContainer form {*/
/*  color: rgba(227, 231, 232, 0.70);*/
/*}*/

#commentTxt {
  background-color: rgba(227, 231, 232, 0.70);
  font-size: 14px;
}

#commentSubmitBtn {
  background-color: rgba(227, 231, 232, 0.70);
  color: rgba(17,17,17,0.85);
  margin-bottom: 20px;
  border: 1px solid rgba(17,17,17,0.85);
}

.commentsList {
  margin-bottom: 20px;
  padding: 0;
}

.commentCard {
  background-color: rgba(227, 231, 232, 0.70);
  margin: 5px 0;
  padding: 5px 0;

}
.commentDiv {
  width: 100%;
  padding: 0;

}

.commentDiv p {
  padding: 0;
  margin: 2px 0px;
}

.commentTimeStamp {
  font-size: 10px;
}

.deleteCommentBtn {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

.trashIcon {
  padding: 10px 15px;
}

@media only screen and (max-width: 660px ) {
  .jumbotron h1 {
    font-size: 60px;
  }
}